{% extends 'base.html' %}
{% load static %}
{% block content %}


  <main>
    <section class="my_glass_container">
      <div class="dashboard">
        <img src="{% static 'jist.jpg' %}" alt="Jist-logo">
        <h1>JISTSU</h1>
        <div>
          <a href="/login" style="vertical-align:middle"><button class="btn">Login</button></a>
        </div>
      </div>


      <div class="about">
        <h2>Jorhat Institute Of Science & Technology</h2>
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <h3>Admin</h3>
              <p>The admin has the utmost power. Only he can appoint new preciding officer.
                He can create database,delete the database and also manage the user accounts.
                </p>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
              <h3>Preciding-Officer</h3>
              <p>The PO has the ability to create the ballot positions and assign 
                candidates to the appropraite positions.He can view the results.One 
                PO account has one voter associated with him. 
              </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Voter</h3>
          <p>This is the student view panel.They can only vote and only when the PO
            allows them. After successful submission of the vote ,the voter gets
            a success message. </p>
      </div>
    </div>
        </div>
      </div>
    </section>
  </main>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>


<!--
<div class="">

      <section class="">
        <h1 class="">JISTSU ELECTIONS</h1>
        <div class="">
          <a href="/login">Click here to login.</a>
        </div>
      </section>

</div>
-->
      
{% endblock content %}