{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>

<body>
<!--   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%    index.html body starts here    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
  <main>
    <section class="my_glass_container">
      <div class="dashboard">
        <img src="{% static 'jist.jpg' %}" alt="Jist-logo">
        <h1>JISTSU</h1>
        <div>
          <a href={% url 'login_view' %} style="vertical-align:middle"><button class="btn">Login</button></a>
        </div>
      </div>

     <!--   [++++++++++++++++++++++++++++++++++++]   About verious Users  [++++++++++++++++++++++++++++++++++++++++++++++++]   -->
     <!--   ________________________________________ cards start here _________________________________________________________-->
      <div class="about">
        <div class="jist-header">
          <h2>Jorhat Institute Of Science & Technology</h2>
        </div>
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <h3>Admin</h3>
              <p>The admin has the utmost power. Only he can appoint new preciding officer.
                He can create database,delete the database and also manage the user accounts.
                </p>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
              <h3>Presiding-Officer</h3>
              <p>The PO has the ability to create the ballot positions and assign 
                candidates to the appropraite positions.He can view the results.One 
                PO account has one voter associated with him. 
              </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Voter</h3>
          <p>This is the student view panel.They can only vote and only when the PO
            allows them. After successful submission of the vote ,the voter gets
            a success message. </p>
      </div>
    </div>
        </div>
      </div>
    </section>
  </main>
  <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  END of the MAIN sections @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
  <!--   _______________________________________________  Background circles here _____________________________________________________  -->
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
    <!-- ################################################  End of the index.html #####################################################  -->
{% endblock content %}