{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>

<body>
    
    <main>
        <div class="my_glass_container">
            <div class="my-form">
                <div>
                <h1>Login</h1>
                </div>
                <form  method="post">
                {% csrf_token %}
                        <div>
                            {{form}}
                        </div>
                        <div class="login-submit">
                            <input type="submit" value="Login">
                        </div>
                </form>
            </div>
       
        </div>
    </main>

    <div class="circle1"></div>
    <div class="circle2"></div>
     <div class="circle3"></div>

    <!--  Messages  -->

    {% if messages %}
    <div class="preciding-messages" id="hide_the_div">
            <ul class="">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
                    
                    <h5><b>{{message}}</b></h5>
                    
                {% endfor %}
            </ul>
        </div>     
    {% endif %}


<!--Form Design Exclude-->
<!--   <div class="">
        <h1>Login</h1>
        <form  method="post">
        {% csrf_token %}
        <div class="row">
            <div class="">
                {{form}}
                <h1></h1>
                 <input type="submit" value="login" class="">
             </div>
        </div>
        </form>
    </div>
--> 

{% endblock content %}