{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>

<body>
    <!--  =======================================     MAIN SECTION FOR THE LOGIN FORM     ====================================  -->
    <main>
        <div class="my_glass_container">
            <div class="my-form">
                <div>
                <h1>Login</h1>
                </div>
                <form  method="post">
                {% csrf_token %}
                        <div>
                            {{form}}
                        </div>
                        <div class="login-submit">
                            <input type="submit" value="Login">
                        </div>
                </form>
            </div>
       
        </div>
    </main>
    <!--  ************************************************  END  of the FORM  ************************************************  -->
    <div class="circle1"></div>
    <div class="circle2"></div>
     <div class="circle3"></div>
    <!--#####################################################################################################################-->
    <!-- ____________________________________________________ Messages _____________________________________________________ -->

    {% if messages %}
    <div class="preciding-messages" id="hide_the_div">
            <ul class="">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
                    
                    <h5><b>{{message}}</b></h5>
                    
                {% endfor %}
            </ul>
        </div>     
    {% endif %}

<!--   +++++++++++++++++++++++++++++++++++++++++++++++++++    END HERE  ++++++++++++++++++++++++++++++++++++++++++++++++    -->
{% endblock content %}