{% extends 'base.html' %}
{% block content %}

<style>
    .super-user-area-p{
      position: absolute;
      bottom: 2%;
      left: 2%;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 254, 254, 0.9));
      padding-top: .92rem;
      padding-bottom: .92rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      border-radius: 1.2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: 6px 6px 20px rgba(122,122,122,0.4);
    }
    .preciding-messages-mock{
      position: absolute;
      top: 2%;
      left: 1%;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 254, 254, 0.9));
      padding-top: .65rem;
      padding-bottom: .55rem;
      padding-left: 1.1rem;
      padding-right: 1.1rem;
      border-radius: 1.2rem;
      display: flex;
      justify-content: center;
      box-shadow: 6px 6px 20px rgba(122,122,122,0.4);

    }
    .preciding-messages-mock li{
      list-style: none;
      color: #0a1a30;
      /*  box-shadow:0 0 80px rgb(95, 95, 95),0 0 80px rgb(239, 241, 239),0 0 80px   */
    }
</style>
<!-- ############################################### PUSHER JS  ###################################################################-->
<!-- Pusher Integration is done here ... -->

<script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('2cd0f0edd98809e00ff2', {
    cluster: 'ap2'
    });

    var channel = pusher.subscribe('{{user.id}}');
    channel.bind('my-event', function(data) {
       //alert(JSON.stringify(data));
       document.getElementById("ms").innerHTML = " ";
       alert(data.message)
       document.getElementById("vote_btn").disabled = false;
       document.getElementById("vote_btn").innerHTML = "New Vote";
       document.getElementById("ms").innerHTML = "One user Voted Successfully !"; 
       document.getElementById("p-id").innerHTML = "Click below to allow the user to submit his vote.";
       document.getElementById("spinner").style.display = "none";
    });
</script>

<!--  ############################################  PUSHER JS ENDING  ######################################################-->




</head>

<body>

<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$    Integrate the Ajax request here   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  -->


<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   Preciding panel starts here  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
    <!--Preciding officer panel..-->
    <main>

    {% if user.is_superuser %}
    
<!--########################################     Only for super user  ###########################################################-->
<!-- _______________________________________      Super user only   ______________________________________________________-->

    <div class="my_glass_container">

        <div class="preciding-inside-glass">

        
        <div class="preciding-header">
            <h1>Super Admin Panel</h1>
        </div>

        <div class="preciding-form-button-main">
            <!--<form action=" " method="post">
                {% csrf_token%}-->
            <div>
                <p>Go to JIST Voting Admin panel.</p>
                <div class="preciding-form-button-main-inside">            
                    <a href="/admin"><button class="btn bt" id="vote_btn">Admin Panel</button></a>
                </div>
            </div>
            <!--</form>-->
        </div>


        <!--          %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%            -->
        <!--_____________________The bottom to buttons to show the results and the close voting button .________________________. -->
        <div class="preciding-bottom-buttons">
            <div class="preciding-tables-button">
                <p>Get the total results of Elections.</p>
                <div class="preciding-form-button-main-inside">
                <a href="/aGlkZGVuLXJlc3VsdC1wYW5lbAoK"><button class="btn">Total Vote</button></a>
                </div>
            </div>
            <div class="preciding-logout-button">
            <p>Add/Remove presiding officer.</p>
                <div class="preciding-form-button-main-inside">
                <a href="/admin/auth/user/"><button class="btn">Edit here</button></a>
                </div>
            </div>
        </div>
    </div>
   </div> 



  <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->  
  <!--  ___________________________________________________Messages____________________________________________________________  -->

            <div class="preciding-messages">
                <ul>
                    <li>
                        <h5 id="ms">Welcome! {{ user }}</h5>
                        <h5 id="clock"></h5>
                        
                    </li>
                    <div  id="spinner" class="spinner">
                        <div class="sp-3balls"></div>
                    </div>
                </ul>
            </div>



<!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
<!-- _________________________________________Rotating circles background animation .._________________________________________ -->
        <div class="clocks">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>




{% else %}

<!--########################################     Not for super user  ###########################################################-->
<!-- _______________________________________      Preciding Officer only   ______________________________________________________-->

<div class="my_glass_container">

    <div class="preciding-inside-glass">

    <div class="preciding-header">
        <h1>Actions of the Presiding Officer</h1>
    </div>

    <div class="preciding-form-button-main">
        <!--<form action=" " method="post">
            {% csrf_token%}-->
        <div>
            <p id="p-id">Click below to allow the user to submit his vote.</p>
            <div class="preciding-form-button-main-inside">            
                <!--<a href="/admitted_from_po">--><button onclick="new_vote()" class="btn bt" id="vote_btn">New Vote</button></a>
            </div>
        </div>
        <!--</form>-->
    </div>


    <!--          %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%            -->
    <!--_____________________The bottom to buttons to show the results and the close voting button .________________________. -->
    <div class="preciding-bottom-buttons">
        <div class="preciding-tables-button">
            <p>Total students Voted till now.</p>
            <div class="preciding-form-button-main-inside">
            <a href="/total_students_voted"><button class="btn">Total Voted</button></a>
            </div>
        </div>
        <div class="preciding-logout-button">
        <p>End the session and Logout.</p>
            <div class="preciding-form-button-main-inside">
            <a href="/logout"><button class="btn">Close Vote</button></a>
            </div>
        </div>
    </div>
</div>
</div> 



<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->  
<!--  ___________________________________________________Messages____________________________________________________________  -->

        <div class="preciding-messages">
            <ul>
                <li>
                    <h5 id="ms">Welcome! {{ user }}</h5>
                    <h5 id="clock"></h5>
                    
                </li>
                <div  id="spinner" class="spinner">
                    <div class="sp-3balls"></div>
                </div>
            </ul>
        </div>



<!--   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
<!-- _________________________________________Rotating circles background animation .._________________________________________ -->
    <div class="clocks">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

{% endif %}
</main>



<!--########################################     Only for super user  ###########################################################-->
<!-- _______________________________________      Super user only   ______________________________________________________-->

{% if user.is_superuser %}
    <div class="super-user-area">
        <div class="clr-h5">
            <h5>Clear all vote to Zero.</h5>
         </div>
         <div class="clr-btn" style="align-items: center;">
             <button onclick="clear_me()" class="btn" id="clr">Reset Vote</button>
         </div>
    </div>
    
{% else %}
    <div class="super-user-area-p for-presiding">
        <div class="clr-h5">
            <h5>Start a Mock poll</h5>
        </div>
        <div class="clr-btn" style="align-items: center;">
            <a href="/mock_panel"><button class="btn">Mock Poll</button></a>
        </div>
        <div class="clr-h5" style="padding-top: 1rem;">
            <h5>Mock poll Results</h5>
        </div>
        <div class="clr-btn" style="align-items: center;">
            <a href="/mock_results"><button class="btn">Mock Results</button></a>
        </div>
    </div>

    {% if messages %}
    <div class="preciding-messages-mock" id="hide_the_div">
            <ul class="">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
                    
                    <h5><b>{{message}}</b></h5>
                    
                {% endfor %}
            </ul>
        </div>     
    {% endif %}
{% endif %}


<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<!-- _______________________________________________Java script goes here .._______________________________________________________ -->
<script>

    // The analog clock goes here.......

    function currentTime() {
    var date = new Date(); /* creating object of Date class */
    var hour = date.getHours();
    var min = date.getMinutes();
    var sec = date.getSeconds();
    hour = updateTime(hour);
    min = updateTime(min);
    sec = updateTime(sec);
    document.getElementById("clock").innerText = hour + " : " + min + " : " + sec; /* adding time to the div */
      var t = setTimeout(function(){ currentTime() }, 1000); /* setting timer */
    }
    function updateTime(k) {
        if (k < 10) {
        return "0" + k;
        }
        else {
        return k;
        }
    }
    currentTime(); /* calling currentTime() function to initiate the process */
   
    //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@//
     //_________________________________________Voter add button function ...___________________________________________//
    function new_vote(){
        //console.log("Hi");
        let xhr = new XMLHttpRequest();
        xhr.open('GET',"/admitted_from_po");
        xhr.send();
        //console.log(1);
        document.getElementById("ms").innerHTML = " The Voter can vote Now !";
        //console.log(2);
        setTimeout(function(){
                document.getElementById("ms").innerHTML = " Waiting for the Voter to vote Now !";
            }, 6000);
        document.getElementById("vote_btn").disabled = true;
        document.getElementById("vote_btn").innerHTML = "Waiting";
        document.getElementById("p-id").innerHTML = "Waiting for the voter to Submit his/her Vote .";
        document.getElementById("spinner").style.display = "inline-block";
        interval;
    }
    //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@//
    //clear button for the superuser ....placed here ....
    function clear_me(){
        let message = "You are about to clear all the votes from the Candidates . Are you sure you want to perform this action ."
        var reply = confirm(message);
        if(reply){
            var again_reply = confirm("Are you really sure!");
            if(again_reply){
                var name = prompt("What is your username?");
                if(name == '{{user}}'){
                    const confirmation = prompt("Write 'CONFIRM' to confirm.");
                    const str_compare = "CONFIRM"
                    if(confirmation === str_compare){
                        //console.log(111)
                        let xhttp = new XMLHttpRequest();
                        xhttp.open('GET',"/clear_votes");
                        xhttp.send();
                        alert("Success! All the votes are cleared from the database.");
                    }else{
                        alert("Please try again and write the word 'CONFIRM' to confirm your choice.")
                    }
                }else{
                    alert("Wrong username!")
                }
                //alert("Success! All the votes are cleared from the database.")
            }
        }
    }



    //Ajax

    // interval = setInterval(function(){
    //     //Code to AJax check goes here ......
    //     const xhrAjax = new XMLHttpRequest();
    //     xhrAjax.open('GET',"/my_ajax_check");
    //     xhrAjax.onload = function(){
    //         if(this.status === 200){
    //             console.log("200");
    //             //if(window.performance.navigation.type == 0){
    //             document.getElementById("ms").innerHTML = " ";
    //             alert("Success, The voter has submitted his vote !");                
    //             document.getElementById("vote_btn").disabled = false;
    //             document.getElementById("vote_btn").innerHTML = "New Vote";
    //             document.getElementById("ms").innerHTML = "One user Voted Successfully !"; 
    //             document.getElementById("p-id").innerHTML = "Click below to allow the user to submit his vote.";
    //             document.getElementById("spinner").style.display = "none";
    //             clearInterval(interval);
    //             //}
    //         }
    //         else{
    //             console.log("403")
    //         }
    //     }
    //     xhrAjax.send()
    // },2000);


     /////////////////////////////////////////////////%%%%%%%%%%%%%%%%////////////////////////////////////////////////////////
    // let intervalid 
    // async function testFunction() {
    //     intervalid = setInterval(() => {
    //         // I use axios like: axios.get('/user?ID=12345').then
    //         new Promise(function(resolve, reject){
    //                 resolve('something')
    //             }).then(res => {
    //                         if (condition) {
    //                             // do something 
    //                         } else {
    //                             clearInterval(intervalid)
    //                          }    
    //             })  
    //     }, 2000)  
    // }
    // // you can use this function like
    // testFunction()


</script>
<!-- __________________________________________________  END  ____________________________________________________________-->
{% endblock content %}



