{% extends 'base.html' %}
{% block content %}

    <!--Preciding officer panel..-->
    <main>
    <div class="my_glass_container">    

        <div class="preciding-inside-glass">

        <div class="preciding-header">
            <h1>Actions of the Preciding Officer</h1>
        </div>

        <div class="preciding-form-button-main">
            <!--<form action=" " method="post">
                {% csrf_token%}-->
            <div>
                <p>Click below to allow the user to submit his vote.</p>
                <div class="preciding-form-button-main-inside">            
                    <a href="/admitted_from_po"><button class="btn">New Vote</button></a>
                </div>
            </div>
            <!--</form>-->
        </div>

        <!--The bottom to buttons to show the results and the close voting button .. -->
        <div class="preciding-bottom-buttons">
            <div class="preciding-tables-button">
                <p>Get the total results here.</p>
                <div class="preciding-form-button-main-inside">
                <a href="/tables"><button class="btn">Total Vote</button></a>
                </div>
            </div>
            <div class="preciding-logout-button">
            <p>End the session and Logout.</p>
                <div class="preciding-form-button-main-inside">
                <a href="#"><button class="btn">Close Vote</button></a>
                </div>
            </div>
        </div>
    </div>
   </div> 
    

            <!--Hiding the message after 3 seconds..-->

            <!-- Success message shown here!!!   -->
            <!--[++]  This will be an alert.  [++]-->
        <div class="preciding-messages">
            {% if messages %}
                <ul class="">
                    {% for message in messages %}
                    <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
                        
                        <h6 id="hide_the_div"> <b>{{message}}</b></h6>
                        
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="clocks">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
</main>
{% endblock content %}



