{% extends 'base.html' %}
{% block content %}
</head>

<body>
<!--  ##########################################   Main container starts here   ####################################################-->
<!-- ==============================================   Container starts here ==========================================================-->
<main>
    <div class="my_glass_container">

        <div class="glass-content">       
            <div>
                <h3>Press the Show Ballot to vote -></h3>
                <div class="voter-show-ballot-button">
                    <a href="/voter"><button  class="butn">Show Ballot</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!-- __________________________________________  Success message shown here!!!  ____________________________________________   -->
    <!--[++]  _____________________________________   This will be an alert.  _________________________________________________  [++]-->
    <div class="voter-messages">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
            
            <h5 id="hide_the_div"> <b>{{message}}</b></h5>
            
        {% endfor %}
    </ul>
    {% endif %}
    
    </div> 
</main>  
<!-- ##############################################################################################################################  -->
<!-- =====================================================    Circle animations div  =============================================   -->
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!-- ========================================================  The end  ============================================================-->
{% endblock content %}