{% extends 'base.html' %}
{% block content %}
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
<!--  ===================================  Styles unique to this page goes here  ===========================================    -->
 <style>

    [type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    /* One radio button per line */
    label {
      display: block;
      cursor: pointer;
      line-height: 2.5em;
      font-size: 1rem;
    }

    [type="radio"] + span {
      display: block;
    }

    [type="radio"] + span:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -0.25em;
      border-radius: 1em;
      border: 0.125em solid #fff;
      box-shadow: 0 0 0 0.15em #000;
      margin-right: 0.75em;
      transition: 0.5s ease all;
    }

    [type="radio"]:checked + span:before {
      background: rgb(1, 1, 1);
      box-shadow: 0 0 0 0.25em rgb(0, 0, 0);
    }

    fieldset {
      font-size: 1em;
      border: 2px solid rgb(255, 255, 255);
      padding: .35rem;
      border-radius: 0.5em;
      box-shadow: 6px 6px 20px rgba(122,122,122,0.4);
      transition: all 1s ease;
    }
    fieldset:hover{
        transform: scale(1.015);
     }

    legend {
      color: white;
      background: rgb(0, 0, 0);
      font-size: .85rem;
      padding: 0.25em 1em;
      border-radius: 1em;
    }

    .p {
      text-align: center;
      font-size: 1rem;
      padding-top: 120px;
    }
    .cand-body,.cand,.cand-btn{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .cand-btn p{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
    .cand-btn{
        padding-bottom: 3rem;
    }
    .cand-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
    }
    fieldset{
        width: 54vw; 
        display: flex; 
        justify-content: space-around;
        margin-bottom: .5rem;
        background: linear-gradient(to right bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.7));
    }
    .btnn{
        background: white;
        color: black;
        font-size: 1rem;
        padding: .8rem 1.8rem;
        border: none;
        cursor: pointer;
        border-radius: 2rem;
        text-align: center;
        box-shadow: 6px 6px 20px rgba(122,122,122,0.4);
        transition: do .5s;
    }
    .btnn:hover{
        background: black;
        color: white;

    }
    .msg-div{
        top: 0;
        left: 0;
        position: fixed;
        background: linear-gradient(to right bottom, rgba(56, 56, 56, 0.3), rgba(88, 87, 87, 0.25));        
        min-height: 100vh;
        min-width: 100%;
        backdrop-filter: blur(1rem);
        /* z-index: 15; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* visibility: none; */
        transition: do .1s;
    }
    .voter-msg{
        position: absolute;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.875), rgba(255, 254, 254, 1));
        /* background: rgb(40, 39, 39); */
        /* text: white; */
        height: 15rem;
        width: 30rem;
        border-radius: 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
        shape-outside: ;
        box-shadow: 6px 6px 20px rgba(122,122,122,0.4);
        /* z-index: 20; */
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-5%);
        backdrop-filter: blur(4px);
        transition: do .1s;

    }
    .success{
      color: rgb(47, 208, 42);
    }
    .warning{
      color: crimson; 
    }
    .voter-msg li{
      list-style: none;
    }
    .vote-btn{
      height: 3rem;
      width: 6rem;
      border-radius: 2rem;
      border: none;
      background: white;
      text:black;
      transition: do .12s;
      /* visibility: hidden; */
    }
    .vote-btn:hover{
      height: 3.5rem;
      width: 6.5rem;
      text: white;
    }
    
    @keyframes do {
        0%{
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100%{
          opacity: 0;
        }
      }

      .align-me{
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    .align-me-text{
      margin: .85rem;
    }
    .imgu{
        height: 6rem;
        width: 4.25rem;
        border-radius: .5rem;
        overflow-y: hidden;
    }

  </style>
  <!--  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!--   ============================================    End of styles    =========================================================-->
</head>

<body>

  <!-- ###############################################################################################################################-->
<!-- ========================================This is the voter panel to show the ballot  =========================================== -->
<main>
<div class="cand">
 <!--##########################################################################################################################-->
    <div class="cand-header">
        <h1>Vote Your Candidate</h1>
    </div>
    <div class="cand-body">
      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  FOrm section for the VOte submission  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <form action=" " method="POST">
        <!--CSRF validation-->
        {% csrf_token %}
        
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   python code for fetching the candidates $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
        {% for position in positions %}
        <!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
        <fieldset>
            

            <!-- If the position is present in the Positon_Table -->
            <!-- Printing the position here-->
            <legend>{{position}}</legend>
            <!-- ==============================================================================================  -->
            {% for candidate in candidates  %}
            <!--  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                {% if candidate.position == position %}
                <!-- ====================================================================== -->
                <div class="align-me"> 
                  <div class="align-me-text"> 
                        <label for="{{candidate.name}}">
                          <input type="radio" value="{{candidate.id}}" name="{{position}}" id="{{candidate.name}}" />
                          <span>{{candidate.name}}</span>
                        </label>
                  </div> 
                  <div> 
                        <img class="imgu" src="/{{ candidate.image}}" alt="candidate_image.jpg">
                      </div> 
                  </div>
                <!-- =====================================================================  -->
                {% endif %}
                <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            {% endfor %}
            <!-- ==============================================================================================  -->
        </fieldset>
        {% endfor %}
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Submision button here @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   -->
        <div class="cand-btn">
            <p>Final Submit here. Click below </p>
            <button class="btnn">Vote</button> 
        </div>
    </form>
    </div>
    <!--end of form-->
 <!--##########################################################################################################################-->
</div>
</main>


<!--  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!-- __________________________________________  Success message shown here!!!  ____________________________________________   -->
<!--[++]  _____________________________________   This will be an alert.  _________________________________________________  [++]-->
{% if messages %}
<div class="msg-div" id="hide_me">
  <div class="voter-msg">
    <ul>
      {% for message in messages %}
      <li {% if message.tags %}>
        
        <h3><b class="{{ message.tags }}" {% endif %} >{{message}}</b></h3>

        {% endfor %}
      </ul>
      
    </div>  
    <button class="vote-btn" onclick="love_hiding_you()" type="button">OK</button>
  </div>
  {% endif %}
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% THE END %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  -->
<script>
  function love_hiding_you(){
    // console.log("yess");
    setTimeout(()=>{
          document.getElementById("hide_me").style.opacity = .5;},100);
     
    setTimeout(()=>{
          document.getElementById("hide_me").style.opacity = .1;},100);
    
    setTimeout(()=>{
          document.getElementById("hide_me").style.visibility = 'hidden';
    },100);
  }


    // document.getElementById("hide_me").style.opacity = .7;
    // document.getElementById("hide_me").style.opacity = .5;
    // document.getElementById("hide_me").style.opacity = .2;
    // document.getElementById("hide_me").style.opacity = 0;
    // document.getElementById("hide_me").style.visibility = 'hidden';
  


  // btn = document.getElementById("vt-bt");
  // console.log("yes")
  // btn.addEventListener('click', function(){
  //   console.log("yes!!")
  //   document.getElementById('hide_me').style.div = 'none';
  // });
</script>



{% endblock content %}