{% extends 'base.html' %}
{% block content %}
</head>

<body>

<!-- Container starts here -->
<main>
    <div class="my_glass_container">

        <div class="glass-content">       
            <div>
                <h3>Press the Show Ballot to vote -></h3>
                <div class="voter-show-ballot-button">
                    <a href="/voter"><button  class="butn">Show Ballot</button></a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Success message shown here!!!   -->
    <!--[++]  This will be an alert.  [++]-->
    <div class="voter-messages">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }}"{% endif %}>
            
            <h5 id="hide_the_div"> <b>{{message}}</b></h5>
            
        {% endfor %}
    </ul>
    {% endif %}
    
    </div> 
</main>  
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
{% endblock content %}